*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 450px;
    min-height: 100vh;
}

.rating-box{
    gap: 20px;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
}

.rating-box label{
    color: #eeeeee3a;
    animation: fill .7s forwards;
    filter: drop-shadow(0 0 10px #ffffff3f);
}

.emojis{
    width: 100%;
    height: fit-content;
    position: absolute;
    text-align: center;
    bottom: -80px;
    font-size: 40px;
    color: white;
    filter: drop-shadow(0 0 10px #ffffff3f);
}

#rating-1:checked~.emojis::after{
    content: '😔';
}

#rating-2:checked~.emojis::after{
    content: '😐';
}

#rating-3:checked~.emojis::after{
    content: '🙂';
}

#rating-4:checked~.emojis::after{
    content: '😛';
}

#rating-5:checked~.emojis::after{
    content: '😜';
}

@keyframes fill {
    0%,
    100%{
        transform: scale(1);
    }

    30%{
        transform: scale(0);
    }

    60%{
        transform: scale(1.2);
    }
}