html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img.img-slider {
  width: 600px;
  height: 300px;
}
.top {
  font-size: 52px;
  background: white;
  padding-left: 200px;
  color: rgb(175, 3, 175);
}
.justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 250px;
  padding-left: 200px;
}
.text-slider {
  width: 40%;
  padding-right: 200px;
  text-align: left;
}
.name-slider {
  margin-top: 5px;
}
.des-slider {
  margin-top: 5px;
}
.price-slider {
  margin-top: 5px;
}
.btn-slider-game {
  margin-top: 5px;
}
