* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(99, 9, 121, 1) 43%,
    rgba(255, 0, 245, 1) 83%
  );
  padding-bottom: 410px;
}
.container .text {
  padding-left: 200px;
  padding-top: 300px;
  width: 50%;
}
.container .text .title {
  color: #fff;
  font-size: 60px;
}
.container .text .title .purple {
  color: rgb(194, 8, 194);
}
.container .text .description {
  margin-top: 15px;
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  border-radius: 14px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(194, 8, 194);
  font-size: 18px;
  cursor: pointer;
}
.header-btn {
  margin-left: 500px;
}
